.config.old
include/
.build/
.config.new
*.log
/aarch64-openmp-elf/
/arm-cortexm7-eabi/
/arm-uboot-eabi/
/aarch64-none-elf-10.3-2021.07/
/arm-none-eabi-10.3-2021.07-r9-nano/
/arm-none-eabi-10.3-2021.07/
/drc/
/old/
/utilities-1.0/
/old2/
/aarch64-openmp-elf.7z
/arm-cortexm7-eabi.7z
/arm-uboot-eabi.7z
