/aarch64-none-elf-10.3-2021.07/
/aarch64-none-elf-12.2.rel1
/aarch64-openmp-elf/
/arm-cortexm0p-eabi/
/arm-cortexm4-eabi
/arm-cortexm7-eabi/
/arm-cortexm33-eabi
/arm-none-eabi-10.3-2021.07/
/arm-none-eabi-10.3-2021.07-r9-nano/
/arm-none-eabi-11.3.rel1
/arm-none-eabi-12.2.rel1
/arm-uboot-eabi/
/arm-cortexm33-eabi-12.2/
/arm-cortexm7-eabi-12.2/

.config.old
include/
.build/
.config.new
*.log
/drc/
/old/
/old2/
/utilities-1.0/
*.7z
*.tar.bz2
*.tar
/test.cpp
/arm-cortexm7-eabi.old
/cyggcc_s-seh-1.dll
/cygwin1.dll
/Dependencies_x64_Release
/openocd-0.12.0
/dist
/LLVM-13.0.0
/arch/aarch64/.config.before-olddefconfig
/arch/aarch64/.config.before-upgrade
/arch/arm-cortexm33/.config.before-olddefconfig
/arch/arm-cortexm33/.config.before-upgrade
/arch/arm-cortexm7/.config.before-olddefconfig
/arch/arm-cortexm7/.config.before-upgrade
/arch/arm-cortexm0p/.config.before-olddefconfig
/arch/arm-cortexm0p/.config.before-upgrade
/arch/arm-cortexm4/.config.before-olddefconfig
/arch/arm-cortexm4/.config.before-upgrade
/arch/arm-uboot/.config.before-olddefconfig
/arch/arm-uboot/.config.before-upgrade
